@font-face {
    font-family: "Heading";
    src: url("../fonts/CrimsonPro-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Text";
    src: url("../fonts/SourceSerif4-VariableFont_opsz\,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Text Italic";
    src: url("../fonts/SourceSerif4-Italic-VariableFont_opsz\,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Accent";
    src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
}

:root {
    --primary-blue: #CCD1E5;
    --primary-color: #EFDFDF;
    --secondary-color: #F4F2E9;
    --tertiary-color: #E0E5D8;
    --accent-color: #704747;
    --accent-transparent: #70474760;
    --text-color: #333333;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Text", Georgia, serif;
    background: url("../images/pink_rice.png");
    color: var(--accent-color);
    overflow-x: hidden;
}

main {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    flex: 1 0 auto;
    padding-bottom: 5rem;
    background-color: white;
}

footer {
    flex-shrink: 0;
    background-color: white;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    height: 30px;
    text-align: center;
}

footer p {
    padding: 4px;
}

a {
    font-size: 18px;
    color: var(--accent-color);
    text-decoration: none;
    font-family: "Accent";
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.logo {
    display: flex;
    justify-content: center;
    background-color: var(--accent-transparent);
    padding: 0 1.5rem;
    height: 60px;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.logo p {
    font-family: "Heading";
    font-size: 3rem;
    font-weight: 500;
    margin-top: .6rem;
}

.logo img {
    width: 32px;
    height: 32px;
}

/* --------- Navigation --------- */

.menu-icon {
    display: none;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0 1.5rem;
    padding: 0;
    justify-content: flex-end;
}

.menu ul {
    display: flex;
}

.menu li {
    margin: 0 10px;
    list-style: none;
}

.menu a {
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

#menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
        font-size: 32px;
        cursor: pointer;
        float: right;
        margin-right: 1rem;
    }

    .menu {
        display: none;
        position: absolute;
        top: 60px;
        right: -24px;
        padding: 2rem;
        width: 100%;
        background-color: var(--secondary-color);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    }

    .menu ul {
        flex-direction: column;
        text-align: center;
        gap: 3rem;
    }

    #menu-toggle:checked + .menu-icon + .menu {
        display: block;
    }
}

/* --------------------------------- */

h1, h2, h3, h4 {
    font-weight: 200;
    margin: 0;
    font-family: "Heading", Georgia, serif;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

p {
    margin: 0 0 1rem;
}

hr {
    height: 1px;
    border-width: 0;
    max-width: 650px;
    background-color: var(--accent-color);
}

.cta-button {
    font-family: "Accent", sans-serif;
}

.heading-style {
    font-weight: 500;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem auto 3rem;
}

.text-container h1 {
    margin: auto;
}

.text-content {
    margin: 0 auto 1rem;
}

.text-content p {
    max-width: 500px;
    letter-spacing: .8px;
    margin-top: .66rem;
}

.products-info {
    display: flex;
    gap: 2rem;
    max-width: 850px;
    margin: 2rem auto 0;
}

.products-info_text {
    max-width: 500px;
    margin: 0 auto 1rem;
}

.products-info_text p {
    margin-top: .66rem;
}

.products-info_btn {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.products-info_btn p {
    margin: .3rem auto;
    font-size: 18px;
    font-family: "Accent", sans-serif;
}

.products-link {
    font-weight: 500;
    font-size: 21px;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    padding: 1rem 6rem;
    background-color: var(--primary-color);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.products-link:hover {
    border: 1px solid var(--accent-color);
}

.categories-text {
    max-width: 500px;
    margin: auto;
}

.categories {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
    max-width: 1200px;
    margin: 3rem auto 3rem;
}

.category {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 4rem 1rem;
    text-align: center;
}

.cat-1 {
    background: url("../images/halftone.png");
}

.cat-2 {
    background: url("../images/subtle_white_mini_waves.png");
}

.cat-3 {
    background: url("../images/beige_tiles.png");
}

.quote {
    margin: 3rem auto 0;
    max-width: 550px;
    padding: .5rem 1rem 1.5rem;
    border-left: 3px solid var(--accent-transparent);
    border-radius: 0 5px 5px 0;
    background-color: var(--secondary-color);
}

.quote cite {
    font-family: "Accent";
    font-style: normal;
}

blockquote {
    font-size: 18px;
    text-indent: -0.7em;
    line-height: 1.1;
}

q {
    font-family: "Text Italic";
}

q::before, q::after {
    color: var(--accent-transparent);
    font-size: 21px;
}

/* ------ Products page ------ */

.product-header {
    display: flex;
    flex-direction: row;
    position: relative;
}

.product-header img {
    position: absolute;
    top: 0;
    right: 0;
    height: 350px;
    width: 35%;
    object-fit: cover;
    object-position: 100% 55%;
    filter: sepia(33%) saturate(80%);
}

.product-header_img {
    height: 350px;
}

.product-header_text {
    position: absolute;
    top: 0;
    left: 0;
    height: 350px;
    width: 100%;
    background: linear-gradient(to right, var(--secondary-color) 65%, transparent);
    color: var(--accent-color);
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.sub-heading {
    font-size: 18px;
    font-weight: 400;
    max-width: 400px;
}

.product-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1rem;
    max-width: 650px;
}

.product {
    display: flex;
    gap: 1rem;
    background-color: white;
    border-radius: 2px;
    padding: 1rem;
    margin-top: 3rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-details p {
    margin-bottom: 1rem;
}

.product-price {
    font-size: 1.25rem;
    font-family: "Accent";
}

.product-buttons {
    display: flex;
    gap: 1rem;
}

.product-buttons button {
    border: none;
    height: 50px;
    border-radius: 3px;
}

.product-buttons button:hover {
    cursor: pointer;
}

.product-buttons img {
    width: 100%;
    height: 100%;
}

.btn-purchase {
    background-color: var(--primary-blue);
    width: 200px;
}

.btn-wishlist {
    background-color: var(--primary-color);
    width: 100px;
}

.product img {
    max-width: 200px;
    object-fit: contain;
    border-radius: 2px;
}

/* ------ Media queries ------ */

@media (max-width: 1200px) {
    .text-container {
        background-color: white;
        padding: 0 1rem;
    }
}

@media (max-width: 680px) {
    .text-container h2, .text-container h3 {
        max-width: 500px;
    }
    
    .text-content h2 {
        margin-top: 2rem;
    }

    .text-container {
        margin: 4rem 0;
    }

    .products-info, .categories, .product-header {
        flex-direction: column;
    }

    .product-header_text {
        background-color: var(--secondary-color);
        height: 250px;
    }

    .product-header img {
        width: 100%;
    }

    .product-header_text,
    .product-header_img {
        position: relative;
        width: 100%;
    }
}

@media (max-width: 598px) {
    .product {
        flex-direction: column;
    }

    .product img {
        order: 1;
        min-width: 70%;
        margin: auto;
    }

    .product-details {
        order: 2;
        border-top: 1px solid var(--primary-color);
        padding-top: 1rem;
    }
}

@media (max-width: 470px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    /* .logo img {
        width: 40px;
        height: 40px;
    } */
}